/* gap */
.gap-0 {
  gap: 0 !important;
}

.gap-4 {
  gap: 1rem !important;
}

.gap-6 {
  gap: 1.5rem !important;
}

.gap-8 {
  gap: 2rem !important;
}

.gap-12 {
  gap: 3rem !important;
}

.gap-16 {
  gap: 4rem !important;
}
