.ckeditor5-toolbar-button-UbcColumnsTwo {
    background-image: url(../icons/ubcColumnsTwo.svg);
}

.ckeditor5-toolbar-button-UbcColumnsThree {
    background-image: url(../icons/ubcColumnsThree.svg);
}

.ckeditor5-toolbar-button-UbcColumnsFour {
    background-image: url(../icons/ubcColumnsFour.svg);
}