/* General styles - ideally should be moved to theme, but may be better here in log run */
/* fix for text colors when focussed in edit mode */
.ck-editor__nested-editable_focused > * {
  color: #212121 !important;
}

/* Misc styles */

.unit-icon {
  display: inline;
}

.widget-svgicon {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

.text-white {
  color: #fff;
}

/* legacy style for columns */
@media (min-width: 960px) {

  .md--flex-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .md--flex-grid:not(.gap-0, .gap-4, .gap-8, .gap-12, .gap-16) {
    gap: 1.5rem;
  }

  .md--flex-grid .md--flex-1 {
    flex: 1;
  }

  .md--flex-grid .md--flex-2 {
    flex: 2;
  }

}