/* General styles - should be moved to theme */
.ubc-expandcollapse {
    color: #0055b7;
}

/* Editor-specific styles */

.widget-expandcollapse.ck-widget {
    margin-top: 1.25rem;
    position: relative;
    -webkit-appearance: button;
    background-image: none;
    border-style: solid;
    background-color: #002145;
    border-color: #0000;
    border-width: 1px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    line-height: 1.3;
    padding: .5em 1em;
    text-align: center;
    text-decoration-line: none;
    transition: all .125s ease-out;
    font-size: .75rem;
}

