/* Editor-specific styles */

.widget-card.widget-card--horizontal.ck-widget {
    margin-top: 1.25rem;
    position: relative;
}

.widget-card.widget-card--horizontal.ck-widget::after {
    position: absolute;
    top: 0;
    right: 1rem;
    content: 'Horizontal Card';
    background-color: #ccc;
    color: #111;
    padding: .5em;
    font-size: .5rem;
}

.widget-card.widget-card--horizontal.ck-widget .ubc-card__media {
    min-width: 2rem;
}