.ckeditor5-toolbar-button-UbcCardHorizontal {
    background-image: url(../icons/ubcCardHorizontal.svg);
}

.ckeditor5-toolbar-button-UbcCardVerticalOne {
    background-image: url(../icons/ubcCardVerticalOne.svg);
}

.ckeditor5-toolbar-button-UbcCardVerticalTwo {
    background-image: url(../icons/ubcCardVerticalTwo.svg);
}

.ckeditor5-toolbar-button-UbcCardVerticalThree {
    background-image: url(../icons/ubcCardVerticalThree.svg);
}