/* Editor-specific styles */

.widget-columns-2.ck-widget {
  margin-top: 1.25rem;
  position: relative;
}

.widget-columns-2.ck-widget::after {
  position: absolute;
  top: 0;
  right: 1rem;
  content: '2 Columns';
  background-color: #ccc;
  color: #111;
  padding: .5em;
  font-size: .5rem;
}
