/* Editor-specific styles *//* Editor-specific styles */

.widget-card.card--two.ck-widget {
    margin-top: 1.25rem;
    position: relative;
}

.widget-card.card--two.ck-widget::after {
    position: absolute;
    top: 0;
    right: 1rem;
    content: 'Two Vertical Cards';
    background-color: #ccc;
    color: #111;
    padding: .5em;
    font-size: .5rem;
}
