/* Editor-specific styles */

.widget-columns-4.ck-widget {
    margin-top: 1.25rem;
    position: relative;
}

.widget-columns-4.ck-widget::after {
    position: absolute;
    top: 0;
    right: 1rem;
    content: 'Four Columns';
    background-color: #ccc;
    color: #111;
    padding: .5em;
    font-size: .5rem;
}

.widget-columns-4 .widget--md--grid {
    display: flex;
    gap: 1.5rem
}

.widget-columns-4 .widget-region-one,
.widget-columns-4 .widget-region-two,
.widget-columns-4 .widget-region-three,
.widget-columns-4 .widget-region-four {
    flex: 1;
}
