/* General styles - ideally should be moved to theme, but may be better here in log run */

.unit-icon {
  display: inline;
}

.widget-svgicon {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}
